body {
  background: #DAF7A6;
  background-image:
    radial-gradient(#99CC8C 20%, transparent 0),
    radial-gradient(#99CC8C 20%, transparent 0);
  background-size: 30px 30px;
  background-position: 0 0, 15px 15px;
}

.content {
    text-align: center;
    font-family: helvetica;
}

.list {
  background-color: #b5dbe8;
  width: 400px;
  margin: auto;
  margin-top: 40px;
  border-radius: 5px;
}

.list ul{
  list-style-type: none;
  padding: 3px 0px;
}

.list li {
    display: inline;
    padding-left: 10px;
}

#cat-card {
  background-color: #d6ebf2;
  width: 400px;
  margin: auto;
  margin-top: 15px;;
  border-radius: 5px;
}

.nameFont {
  padding: 15px;
  font-family: 'Give You Glory', cursive;
  font-weight: bold;
  font-size: 1.5em;
}

#image-container {
  background-color: white;
  width: 350px;
  margin: auto;
  padding-bottom: 20px;
  border: solid, grey, 3px;
}

.counter-text {
  padding-bottom: 20px;
}
